/* Sidebar.css */

.sidebar {
  display: flex; /* Set the sidebar to use flexbox */
  flex-direction: column; /* Stack items vertically */
  width: 250px; /* Fixed width for the sidebar */
  background-color: #353538; /* Light gray background for contrast */
  padding: 20px; /* Padding inside the sidebar */
  height: 100%;
  flex: 1;
}

.sidebar h3 {
  margin-top: 0; /* Remove top margin for the heading */
}

.sidebar ul {
  list-style-type: none; /* Remove bullet points from the list */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.sidebar li {
  margin: 10px 0; /* Space between list items */
}

.sidebar a {
  color: #4caf50; /* Green color for links */
  text-decoration: none; /* Remove underline */
}

.sidebar a:hover {
  text-decoration: underline; /* Underline on hover */
}
